* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 72px;
    color: lightseagreen;
    font-family:monospace;
    border-bottom: 1px solid lightseagreen;
}

.playerInterface {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 25px;
}

.weapon {
    cursor: pointer;
    width: 200px;
    height: auto;
    transition: 0.3s;
}

.weapon:hover {
    transform: scale(1.1);
    filter: invert(47%) sepia(84%) 
        saturate(394%) hue-rotate(128deg) brightness(105%) contrast(90%);
}

.results {
    display: flex;
    width: 50%;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 10px;
}

#opponentWeapon {
    width: 30%;
    padding: 5px;
    border-right: 1px solid grey;
    text-align: center;
}

#opponentWeapon img{
    width: 200px;
    height: auto;
}

#resultTextbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 20px;
    text-align: center;
}

#resultText {
    white-space: pre;
}

@media only screen and (max-width: 768px) {

    .header {
        font-size: 24px;
        color: lightseagreen;
        font-family:monospace;
        border-bottom: 1px solid lightseagreen;
    }

    .playerInterface {
        height: auto;
    }

    .weapon {
        width: 100px;
    }

    .results {
        display: flex;
        width: 100%;
        flex-direction: column;
        border: 1px solid grey;
        border-radius: 10px;
    }

    #opponentWeapon {
        width: 100%;
        padding: 5px;
        border-right: none;
        border-bottom: 1px solid grey;
    }
    
    #opponentWeapon img{
        width: 100px;
        height: auto;
    }
    
    #resultTextbox {
        width: 100%;
    }
  }
